.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    background-color: rgb(21, 21, 21);
    box-shadow: 0px 0px 5px rgb(16, 16, 16);
    padding: 10px;
    border-radius: 14px;
}
.top_section{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    justify-content: center;
}
.buttons_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more{
    width: 100%;
    text-align: center;
    font-size: clamp(10px,2.5vw,14px);
}
.add_button{
    border-radius: 8px;
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: clamp(10px,2.5vw,14px);
}
.top_right_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.description{
    text-align: start;
    background-color: rgb(33, 33, 33);
    padding: 10px;
    margin: 10px 0 0 10px;
    font-size: x-small;
    color: rgb(167, 167, 167);
    overflow: hidden;
    height: 70%;
    border-radius: 5px;
}
.product_name{
    background-color: transparent !important;
    padding: 5px;
    margin-left:auto;
    border-radius: 5px;
    font-size: clamp(10px,2.5vw,16px);
}

.price{
    margin-right: auto;
    background-color: transparent !important;
    width: 100%;
    margin-top: 10px;
    text-align: start;
    font-size: clamp(10px,2.5vw,16px);
}
.picture{
    width: 100%;
}

.picture img{
    border-radius: 8px;
    width: 100%;    
    aspect-ratio: 1;
}

.type_section{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05)); /* Linear gradient with transparency */
    backdrop-filter: blur(10px); 
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    flex-direction: column;
    row-gap: 10px;
}
.type_name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type_name p{
    background-color: rgb(231, 49, 49);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    width:45%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(25, 25, 25);
}
.type_name a{
    color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: clamp(10px,2vw,15px);
}


/* Add this CSS to your stylesheet or a CSS-in-JS solution */
.swiper {
    width: 95%;
    height: 100%;
    padding-bottom: 15px;
  }







  /* select order item  */

/* componentStyles.css or SelectOrder.css */

.select_order_container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    gap: 5px;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    z-index: 1001;
}

.section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.select_order_container div{
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    padding: 5px;
}

.increment{
background-color: rgb(255, 255, 255);
color: black;
width: 40px;
aspect-ratio: 1;
border-radius: 50%;
padding: 5px;
}

.remove{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
}
.quantity_control{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orders_section{
    background-color: rgb(37, 37, 37) !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 80%;
    overflow-y: scroll;
    margin: 10px 0;
}
.orders_section div{
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 10px;
    gap: 5px;
    position: relative;
}
.orders_section div p {
    background-color: rgb(38, 38, 38);
    padding: 5px 10px;
    border-radius: 15px;
    position: relative;
}
.orders_section div span {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}
.orders_section div span div{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    gap: 20px;
    align-items: center;
    background-color: rgb(38, 38, 38);
    padding: 0 5px;
}

.orders_section div a {
    position: absolute;
    top: 10px;
    left: 10px;
}
.item_quantity{
    border-left: 1px solid white;
    border-radius: 0 !important;
    padding: 5px 10px !important;
}
.orders_section::-webkit-scrollbar{
    display: none;
}

.quantities{
    text-align: center;
    width: 19px;
}


.add{
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;

}
.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255) !important; /* Change bullet color to red */
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgb(255, 48, 48) !important; /* Change active bullet color to dark red */
  }

  /* select order item  */


/* loading article section  */

/* Keyframes for the pulsing animation */
@keyframes pulseBackground {
    0% {
        background-color: rgb(33, 33, 33);
    }
    50% {
        background-color: rgb(29, 29, 29);
    }
    100% {
        background-color: rgb(33, 33, 33);
    }
}

/* Base style for the article container */

/* Style for the top section (image and text) */
.top_section_loading {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Style for the image placeholder */
.picture_loading div {
    width: 100%;
    height: 200px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    animation: pulseBackground 1.3s infinite alternate;
}

/* Style for the right section (name and price) */
.top_right_section_loading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}
.picture_loading{
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(29, 29, 29);
    animation: pulseBackground 1.3s infinite alternate;
    border-radius: 5px;
}

/* Style for the product name placeholder */
.product_name_loading {
    width: 50%;
    margin-top: 5px;
    margin-left: auto;
    height: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    animation: pulseBackground 1.3s infinite alternate;
}

/* Style for the price placeholder */
.price_loading {
    width: 50%;
    height: 20px;
    margin-right: auto;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    margin-top: 10px;
    animation: pulseBackground 1.3s infinite alternate;
}

/* Style for the buttons section */
.buttons_section_loading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 5px;
}

/* Style for the button placeholders */
.buttons_section_loading span {
    width: 100%;
    height: 40px;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    animation: pulseBackground 1.3s infinite alternate;
}

/* loading article section  */
.variation_container{
    width: 30%;
    background-color: rgb(33, 33, 33);
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 100%;
    max-height: 800px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #1c1c1c;
    font-size: clamp(12px,1.9vw,15px);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */


  /* Chrome, Edge, and Safari */
  .variation_container::-webkit-scrollbar {
    width: 8px;
  }

  .variation_container::-webkit-scrollbar-track {
    background: #1c1c1c;
  }

  .variation_container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 0px solid #ffffff;
  }
.variation_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}
.variation_item img{
    width: 30%;
    aspect-ratio: 1;
    border-radius: 15px;
}
.variation_item div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

@media only screen and (max-width:1000px) {
    .variation_container{
        width: 95%;
        flex-direction: row;
        column-gap: 10px;
    }
    .variation_item{
        flex-direction: column;
    }
    .variation_item img{
        width: unset;
    }

  }

@media only screen and (max-width:700px) {
  }
