.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    background-color: rgb(0, 0, 0);
    padding: 20px 15px;
    border-radius: 14px;
}
.top_section{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}
.buttons_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more {
    width: 35%;
}
.add_button{
    width: 55%;
    border-radius: 8px;
}
.description{
    text-align: start;
    background-color: rgb(33, 33, 33);
    padding: 10px;
    margin: 10px 0 0 10px;
    font-size: x-small;
    color: rgb(167, 167, 167);
}
.product_name{
    background-color: rgb(33, 33, 33);
    padding: 10px;
    margin-left:10px;
}

.price{
    margin-left: 10px;
    margin-top: 10px;
}

.picture img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.type_section{
    background-color: rgb(45, 45, 45);
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.type_name{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.type_name p{
    background-color: rgb(231, 49, 49);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
.type_name a{
    color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


/* Add this CSS to your stylesheet or a CSS-in-JS solution */
.swiper {
    width: 80%;
    height: 100%;
  }

  