@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-red: #D32F2F;
  --secondary-black: #212121;
  --accent-white: #FFFFFF;
  --grey: #BDBDBD;
  --dark-grey: #757575;
}





body {
  background-color: var(--secondary-black);
  color: var(--accent-white);
  font-family: "Vazir-bold";
}


header {
  background-color: var(--secondary-black);
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-red);
}

button {
  background-color: var(--primary-red);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
input {
  color: black;
}


a {
  color: var(--primary-red);
  text-decoration: none;
}

a:hover {
  color: var(--dark-grey);
}

footer {
  background-color: var(--grey);
  color: var(--secondary-black);
  padding: 20px;
  text-align: center;
}

.secondary-text {
  color: var(--grey);
}

.border {
  border: 1px solid var(--grey);
}

@font-face {
  font-family: 'Vazir-bold';
  src: url('../../public/fonts/vazir-font/Vazir-Bold.eot') format('eot'),
       url('../../public/fonts/vazir-font/Vazir-Bold.ttf') format('ttf'),
       url('../../public/fonts/vazir-font/Vazir-Bold.woff') format('woff'),
       url('../../public/fonts/vazir-font/Vazir-Bold.woff2') format('woff2');
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
/* styles */

.select_signup{
  border-radius: 5px;
}



.signup_form{
  width:100%;
  min-width: 290px;
  max-width: 510px;
  border-radius: 15px;
  margin: 20px;
  padding: 30px 40px;
  background-color: #2a2a2a;
}

.signup_form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.signup_form_label {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.signup_form_input {
  background-color: transparent;
  outline: none;
  color: white;
  border-bottom: 1px solid var(--grey);
  padding: 1%;
}

.signup_form_input:focus ~ label,
.signup_form_container .signup_form_input:valid ~ label
{
  transform: translateY(-150%);
  transition: 0.3s;
  font-size: 14px;
  color: rgb(227, 227, 227);
}

.line {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--grey);
  transform-origin: center;
  transition: width 0.3s ease-in-out;
}

.signup_form_input:focus ~ .line,
.signup_form_container .signup_form_input:valid ~ .line
{
  width: 100%;
  transition: 0.3s;
  transform-origin: center;
}

.signup_signin_btns{
  position: relative;
  bottom: 10px;
  width: 104px;
  height: 25px;
  overflow-x: hidden;
  border-bottom: 1px solid white;
}
.login_btn{
  background-color: transparent;
  color: rgb(230, 230, 230);
  padding: 0;
  position: absolute;
  left: 0;
  white-space: nowrap;
  transition: all .3s;
}



.forms{
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 290px;
  max-width: 500px;
}
/* styles */
.reactCodeInput{
  direction: ltr;
  text-align: center;
  margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}




/* datePicker styles */
/* customDatePicker.css */

/* Background color of the date picker */
.custom-input{
  background-color: #1f1f1f;
  border-radius: 5px;
}

/* datePicker styles */

