version: '3.8'

services:
  backend:
    build:
      context: ./backend
    depends_on:
      - db
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - static_volume:/app/static
      - media_volume:/app/media
    command: ./scripts/start.sh
    healthcheck:
      test: [ "CMD", "python", "manage.py", "check_db_connection" ]
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: ustatBackend

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: ustatPostgres

  redis:
    image: redis:latest
    container_name: ustatRedis
    expose:
      - "6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "-h", "localhost", "ping" ]
      interval: 1m
      timeout: 5s

  frontend:
    build:
      context: ./frontend
    container_name: ustatFrontend
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=production
      - WATCHPACK_POLLING=true  # Enable polling for file changes
    depends_on:
      - backend

  celery-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ./scripts/start-celery.sh
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - redis
    container_name: ustatCeleryWorker

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certs:/etc/letsencrypt
    environment:
      - NGINX_HOST=ustatticaret.com,ustatticaret.ir
      - NGINX_EMAIL=AFrenchWrench@gmail.com
    depends_on:
      - frontend
      - backend
    container_name: ustatNginx

  certbot:
    image: certbot/certbot
    volumes:
      - ./certs:/etc/letsencrypt
      - ./var/lib/letsencrypt:/var/lib/letsencrypt
    entrypoint: "/bin/sh -c 'certbot --nginx -d ustatticaret.com -d ustatticaret.ir && certbot renew --dry-run'"
    depends_on:
      - nginx
    container_name: ustatCertbot

volumes:
  node_modules:
  static_volume:
  media_volume:
