.adminNavbar{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    padding:15px 10px;
    border-radius: 30px;
    z-index: 999;
}

.adminNavbar ul{
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.selectedBg{
    position: absolute;
    right: 0;
    background-color: rgb(252, 46, 46);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    height: 45px;
    width: 60px;
    mix-blend-mode: screen;    
    pointer-events: none;
    transition: .3s;
}
.holder{
    position: absolute;
    height: 100%;
    width: 60px;
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    pointer-events: none;
}
