.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
}
.formGroup input{
    background-color: rgb(29, 29, 29);
    padding: 5px;
    color: white;
    border-radius: 10px;
    border: 3px solid transparent;
}
.formContainer textarea{
    resize: none;
    height: 80px;
    pad: 5px;
    color: white;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    border: 3px solid transparent;
}
.formContainer input:focus{
    border-color: white;
}
.formContainer textarea:focus{
    border-color: white;
}
.twoHolder{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.twoHolder span{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.h3{
    color: white;
    font-size: larger;
}

.acButtons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.acButtons button{
    width: 49%;
    border-radius: 10px;
}

.cButton{
    background-color: transparent;
    border: 3px solid white;
}
.submitButton{
    border: 3px solid var(--primary-red);
}

@media only screen and (max-width:420px) {
    .twoHolder{
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }
    .twoHolder span{
        justify-content: space-between;
        width: 100%;
    }
}