.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    box-shadow: 0 0 30 0 hsla(0, 0%, 0%, 0.66);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    background-color: rgb(30, 30, 30);
}

.icons{
    display: flex;
    column-gap: 20px;
}


@media only screen and (max-width: 600px) {
    .footer{
        padding-bottom: 60px;
    }
}