.customInput{
    color: white;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    text-align: center;
}
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.Container{
    display: flex;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 20px rgb(29, 29, 29);
    border-radius: 15px;
    padding: 15px 10px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orderNumber{
    background-color: rgb(25, 25, 25);
    padding: 5px 10px;
    border-radius: 10px;
}
.itemsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.itemContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 25, 25);
    padding: 5px 10px;
    border-radius: 10px;
    height: 300px;
}

.itemRight{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 40px;
    width: 50%;
}

.itemRight p{
    background-color: rgb(36, 36, 36);
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
}

.increment{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantityControl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}
.itemLeft picture{
    width: 90%;
    aspect-ratio: 1;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}
.itemLeft picture img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.udButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.updateButton{
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: small;
    padding: 5px;
}
.updateButton:hover{
    background-color: rgb(149, 149, 149);
    color: white;
}
.deleteButton{
    padding: 5px;
    border-radius: 20px;
    background-color: red;
    margin-top: auto;
}

.deleteButton:hover{
    background-color: rgb(255, 57, 57);
}






/* confirm alert component  */
.confirmAlert{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.confirmAlertContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgb(29, 29, 29);
    gap: 10px;
}
.confirmButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmAlertContainer button{
    width: 50%;
    margin: 2px;
    border-radius: 15px;
    border: 2px solid transparent;
}
.confirmAlertContainer button:hover{
    border-color: black;
}




/* confirm alert component  */


.formContainer {
    margin-top: 20px;
}

.formGroup {
    margin-bottom: 15px;
    position: relative;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}
.formGroup input{
    background-color: rgb(36, 36, 36);
}

.formControl {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(36, 36, 36);
    border: 1px solid #ccc;
    resize: none;
}

.error {
    color: red;
    font-size: 0.875rem;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.submitButton {
    padding: 10px 20px;
    width: 50%;
    background-color: rgb(255, 53, 53);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cButton{
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(255, 60, 60);
}
.cButton:hover{
    background-color: white;
    color: black;
}
.acButtons{
    display: flex;
    column-gap: 10px;
}





.infoContainer{
    width: 100%;
    border-radius: 15px;
    padding:5px 15px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: x-small;
}

.dimensionsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
}
.dimensionsContainer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.dimensionsContainer div p{
    background-color: rgb(27, 27, 27);
    padding: 2px 5px;
    border-radius: 10px;
    font-size: x-small;
}


.colorSection{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.colorSection p{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.colorSection p span{
    background-color: rgb(27, 27, 27);
    padding: 2px 5px;
    border-radius: 10px;
}


.addressesSection{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 910;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.addressesContainer{
    width: clamp(250px,90%,500px);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
}

.addressesContainer h2{
    color: white;
}

.addressesContainer ul{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    padding: 5px;
    height: 400px;
    overflow-y: scroll;
}

.addressesContainer ul::-webkit-scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #ffffff #262626;
    width: 10px;
    background: #262626;
}
.addressesContainer ul::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 26px;
    border: 3px none #ffffff;
}

.addressesContainer ul li{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
}
.addressesContainer ul li h3{
    color: white;
    padding: 5px 15px;
    background-color: rgb(25, 25, 25);
    border-radius: 15px;
}
.addressesContainer ul li p{
    display: flex;
    align-items: center;
}

.selectAddressButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectAddressButtons button{
    width: 49%;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
}
.newAddressButton{
    background-color: white !important;
    color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.addAddressButtonIcon{
    font-size: 20px;
}

.newAddressButton:hover{
    filter: brightness(80%);
}