.paymentSection{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* پرداخت قسطی */
.container{
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: clamp(300px, 50%, 420px);
    height: 80dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.container p{
    font-size: clamp(11px,2vw,14px);
}

.container h3{
    font-size: clamp(20px,3vw,25px);
    z-index: 2;
    color: white;
    margin-top: 10px;
}

.svgImage{
    position: absolute;
    width: 100%;
}

.itemsContainer{
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.itemContainer{

background: linear-gradient(91.76deg, rgba(217, 217, 217, 0.11) 0%, rgba(255, 255, 255, 0.0726) 100%);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(3px);
border-radius: 5px;
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
padding: 15px 10px;
}
.itemsContainer::-webkit-scrollbar {
    width: 5px;
  }

  .itemsContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }

  .itemsContainer::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 0px solid #ffffff;
  }

.itemQuantity{
    border-left: 1px solid white;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
}


.payButton{
    margin-bottom: 10px;
    width: 79%;
    border-radius: 4px;

    background: rgba(211, 47, 47, 0.95);
    box-shadow: 0px 0px 15.2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);


}

.totalPrice{
    margin-top: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    margin-bottom: 10px;
}


.installmentContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}
.installmentSelectDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.installmentSelectDiv select{
    width:6rem;
    background-color: rgb(55, 55, 55);
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(220, 220, 220);
    padding: 2px 5px;
    font-size: 14px;
}
.installmentPrice{
    margin-top: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.installmentPrice p{
    font-size: large !important;
}
.totalPrice p{
    font-size: larger !important;
}


@media only screen and (max-width:600px) {
    .paymentSection{
        flex-direction: column;
        row-gap: 15px;
    }
    .container{
        width: clamp(300px, 95%, 420px);
    }
}