.sectionId{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
}
.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4%;
    background-color: rgb(27, 27, 27);
    padding: 1%;
    border-radius: 15px;
    row-gap: 10px;
}
.Swiper_item{
    width: 100% !important;
    aspect-ratio: 2/1;
    margin-left: auto;
    margin-right: unset;
    border-radius: 10px;
}
.name_price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

}
.product_name{
    font-size: large;
    background-color: rgb(32, 32, 32);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.price{
    background-color: rgb(32, 32, 32);
    padding: 5px;
    border-radius: 5px;
}
.add_to_cart{
    margin-right: auto;
    border-radius: 4px;
}
.caption{
    background-color: rgb(32, 32, 32);
    padding: 10px;
    width: 100%;
    font-size: small;
    color: rgb(162, 162, 162);
    border-radius: 5px;
    margin: 10px 0;
}

.slider_image{
    border-radius: 10px;
}

.item_add_button{
    width: unset !important;
    margin-right: auto !important;
  }
.info_container{
    width: 100%;
    border-radius: 15px;
    padding:5px 15px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.dimensions_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}
.dimensions_container div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.dimensions_container p {
    width: 16%;
}

.dimensions_container div p{
    padding: 2px 5px;
    border-radius: 10px;
    width: 25%;
}


.color_section{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.color_section p{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.color_section p span{
    background-color: rgb(27, 27, 27);
    padding: 2px 5px;
    border-radius: 10px;
}

.item_product_name{
    color: white;
    font-size: larger;
    background-color: rgb(17, 17, 17);
    padding: 2px 15px;
    border-radius: 20px;
}

/* Styles for Swiper pagination bullets */
.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255) !important; /* Change bullet color to red */
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgb(255, 48, 48) !important; /* Change active bullet color to dark red */
  }


  @media only screen and (max-width:1000px) {
    .sectionId{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        margin-right: unset;
        width: 95%;
        padding: 10px;
        font-size: small;
    }
  }
  @media only screen and (max-width:700px) {
    .container{
        font-size: xx-small;
    }
  }
  