.transactionsSection {
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.transactionsList {
    list-style-type: none;
    height: 90%;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 5px 0;
    background-color: #272727;
    width: clamp(330px, 95%, 700px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transactionsList::-webkit-scrollbar{
    display: none;
}
.transactionsList h1{
    color: white;
}
.transactionItem {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 20px rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.transactionItemAdmin{
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 20px rgb(15, 15, 15);
    display: flex;
    justify-content: space-evenly; 
}

.PInfo{
    display: flex;
    justify-content: space-between;
}
.infoP{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}
.PInfo p{
    font-size: clamp(11px,1.5vw,16px);
}

.title {
    font-size: clamp(12px,1.5vw,18px);
    margin: 0 auto;
    margin-bottom: 10px;
}

.proofContainer, .uploadContainer {
    display: flex;
    width: 50%;
    aspect-ratio: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.uploadContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.imgContainer{
    height: 80%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: rgb(55, 55, 55);
    border-radius: 15px;
}

.chooseImageButtonContainer{
    font-size: clamp(8px,1.5vw,16px);
}


.previewImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px;

}

.proofImage{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;

}

.fileInput {
    margin-top: 10px;
    display: none;
}
.fileLable{
    margin-left: 20px;
    background-color: rgb(255, 28, 28);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadButton {
    margin-top: 10px;
    padding: 5px 10px !important;
    background-color: white;
    color: rgb(25, 25, 25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: rgb(169, 169, 169);
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #007bff;
}

.error {
    text-align: center;
    font-size: 18px;
    color: red;
}

.actionContainer{
    margin-top: 10px;
    display: flex;
    column-gap: 30px;
}
.actionContainer button{
    padding: 10px 20px!important;
    border-radius: 10px;
}
.statusSelect{
    background-color: rgb(55, 55, 55);
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgb(220, 220, 220);
    padding: 2px 5px;
    font-size: 14px;
}

@media only screen and (max-width:600px) {
    .transactionItem{
        width: 95%;
    }
}
