@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-red: #D32F2F;
  --secondary-black: #212121;
  --accent-white: #FFFFFF;
  --grey: #BDBDBD;
  --dark-grey: #757575;
}

body {
  background-color: var(--secondary-black);
  color: var(--accent-white);
  font-family: "Vazir-bold";
}

header {
  background-color: var(--secondary-black);
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-red);
}

button {
  background-color: var(--primary-red);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
input {
  color: black;
}

button:hover {
  background-color: var(--dark-grey);
}

a {
  color: var(--primary-red);
  text-decoration: none;
}

a:hover {
  color: var(--dark-grey);
}

footer {
  background-color: var(--grey);
  color: var(--secondary-black);
  padding: 20px;
  text-align: center;
}

.secondary-text {
  color: var(--grey);
}

.border {
  border: 1px solid var(--grey);
}

@font-face {
  font-family: 'Vazir-bold';
  src: url('../../public/fonts/vazir-font/Vazir-Bold.eot') format('eot'),
       url('../../public/fonts/vazir-font/Vazir-Bold.ttf') format('ttf'),
       url('../../public/fonts/vazir-font/Vazir-Bold.woff') format('woff'),
       url('../../public/fonts/vazir-font/Vazir-Bold.woff2') format('woff2');
}


